<template>
  <div id="wrapper">
    <v-container>
      <h1>{{ pageheader }}</h1>
      <Biography />
    </v-container>
  </div>
</template>

<script>
  import Biography from '../components/Biography'

  export default {
    data: () => ({
      pageheader: 'About Us Page'
    }),
    components: {
      Biography
    }
  }
</script>
