<template>
    <div id="biographical">
        <v-layout row wrap justify-space-between>
            <v-flex xs12>
                <h3 class="display-2 font-weight-bold mb-3">Biographical Section</h3>
            </v-flex>

            <v-flex v-bind="{ [`xs${card.flexxs} md${card.flexmd}`]: true }" v-for="(card) in personsbio" :key="card.name">
                <v-card>
                    <v-img
                        :src="card.picture"
                        aspect-ratio="2.75"
                    ></v-img>

                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{ card.name }}</h3>
                            <p class="grey--text">{{ card.description }}</p>
                        </div>
                    </v-card-title>

                    <v-card-actions>
                        <v-btn icon>
                            <v-icon>favorite</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>bookmark</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>share</v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="card.show = !card.show">
                            <v-icon>{{ card.show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                        </v-btn>
                    </v-card-actions>

                    <v-slide-y-transition>
                    <v-card-text v-show="card.show">
                        {{ card.details }}
                    </v-card-text>
                    </v-slide-y-transition>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        data: () => ({
            personsbio: [
                {
                    picture: 'https://picsum.photos/350/200?random',
                    name: 'Scott Mackey',
                    linkedin: '//linkedin.com/scottmackey',
                    description: 'This is a little about me.',
                    details: `I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.`,
                    show: false,
                    flexxs: 12,
                    flexmd: 4
                },
                {
                    picture: 'https://picsum.photos/350/210?random',
                    name: 'Pilar Mackey',
                    linkedin: '',
                    description: 'Something about Pilar',
                    details: `I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.`,
                    show: false,
                    flexxs: 12,
                    flexmd: 4
                },
                {
                    picture: 'https://picsum.photos/350/220?random',
                    name: 'Other Mackey',
                    linkedin: '',
                    description: 'Something about Other',
                    details: `I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.`,
                    show: false,
                    flexxs: 12,
                    flexmd: 4
                }
            ]
        })
    }
</script>

<style>
</style>
